<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"     rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    
    <title>Carrer Openings</title>
    <style>
      #banner{
        width: 100%;
        margin-bottom:20px  
      }
    </style>
  </head>
  
  <body>
    {% include 'nav_bar.html' %}

      <img class='img-fluid' id='banner' src="static/zest-tea-f74VtF6ZQdw-unsplash (1).jpg" alt="">
    
    <div class='container'>
        <h1 class='text-center mt-2 mb-4'>Strive Preparations Carrer</h1>

        <h2 class='text-center mt-2 mb-4'>About Strivian Career's</h2>        

          <div class='row'>
            <div class='col-md-6'>
            <p class='lead'>At Strivian, we are passionate about empowering young individuals to reach their full potential in the tech world. We believe in fostering a supportive and inclusive environment where everyone has the opportunity to thrive. Our dedicated team of experts provides tailored guidance, mentorship, and practical training to equip you with the skills and knowledge needed to succeed in your chosen career path.</p>
            </div>
            <div class='d-none d-md-block col-6'>
              <img src="static/samsung-memory-AoDMssi2UOU-unsplash.jpg" style='height:360px' alt="img">
            </div>    
          </div>
            
        <h2 class='text-center mt-2 mb-4'>Open Position's</h2>

        <div>
          {% for job in jobs %}
              {% include 'list_item.html' %}
          {% endfor %} 
        </div>

      
        <div class='text-center'>
          <a href="mailto:strivian@gmail.com?subject=Application%20For{{job['title']}}&body=My%20Name%3A%20%3Cyour_name%3E%0D%0AMy%20Resume%20Link%3A%20%3Cresume_link%3E%0D%0AMy%20Linkdin%3B%20%3Cmy_linkdin%3E" class='btn btn-primary btn-lg'>Contact Us</a>
          
          </div>
        </div>

        {% include 'footer.html' %}
  </body>
</html>